@model IEnumerable<MVC5App.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2> @Html.ActionLink("Add New Customer","AddNew","Customers", new { @class = "btn btn-primary" })
<br /> <br />
<table width="100%" id="customer" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Customer Name</th>
			<th>MemberShip</th>
			<th>Action</th>
		</tr>
	</thead>
</table>
@section Scripts{
	<script>
		$(document).ready(function () {
			$("#customer").DataTable({
				ajax: {
					url: "/api/Customers",
					dataSrc: ""
				},
				columns: [
					{
						data: "name",
						// render link
						render: function (data, type, customer) {
							return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>"
						}
					},
					{
						data: "memberShipType.name"
					},
					{
						data: "id",
						render: function (data) {
							return "<button class='btn-link js-delete' data-customer-id="+ data + ">Delete</button>"
						}
					}
				]
			});
			$("#customer").on("click",".js-delete", function () {
				var button = $(this);

				bootbox.confirm("Are you sure you want to delete the customer", function (result) {
					if (result) {
						$.ajax({
							url: "/api/Customers/" + button.attr("data-customer-id"),
							method: "DELETE",
							success: function () {
								button.parents("tr").remove();
							}
						});
					}
				});
			});
		});
	</script>
}

